psycopg2-binary
requests
python-dotenv
pandas
pyyaml
openmeteo-requests
requests-cache
retry-requests
numpy
sodapy
ijson
pytest
pytest-cov
black
bandit
Isort
Absolufy-imports
autoflake
pyupgrade
shapely